@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400;700&display=swap');

$basecolor: #e1e0dc;
$brown: #4d3b1d;
$mustard: #bc8a3c;
$setButtonBlue: #73b3b6;
$bawapink: #f9ece2;
$hotpink: #d879ba;
$blackish: #212121;

.landing-page {
  display: flex;
  // justify-content: space-between;
  height: 100vh;
  font-family: Montserrat;
  color: $brown;
}

header {
  font-family: Montserrat;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
  font-size: 30px;
  background-color: #f1a481;
}

.form-container {
  min-width: 400px;
  margin-top: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  border: $brown 1px;
  border-radius: 1.5rem;
  padding: 30px;
  background-color: $basecolor;
  height: 80vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

select:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.2s;
}

#dropdown-1 {
  border: none;
  border-radius: 1.5rem;
  padding: 12px;
  margin: 10px;
  text-align: center;
  color: #bc8a3c;
}
#dropdown-2 {
  border: none;
  border-radius: 1.5rem;
  padding: 12px;
  margin: 10px;
  text-align: center;
  color: #bc8a3c;
}
button {
  background-color: #bc8a3c;
  border: none;
  padding: 12px;
  border-radius: 1.5rem;
  color: white;
  margin: 10px;
  font-size: 14px;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.common-class-name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  padding: 10px;
  border-radius: 1rem;
  margin: 10px;
}

input:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.2s;
}

.set-circle {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: #73b3b6;
  color: white;
  padding: 20px;
  font-weight: bold;
  border-radius: 6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 40px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $setButtonBlue,
      0 0 40px $setButtonBlue, 0 0 50px $setButtonBlue, 0 0 60px $setButtonBlue;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px $setButtonBlue, 0 0 40px $setButtonBlue,
      0 0 50px $setButtonBlue, 0 0 60px $setButtonBlue, 0 0 70px $setButtonBlue;
  }
}

.parent-exercises {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.exercise-card {
  font-family: Roboto;
  background-color: $blackish;
  text-align: left;
  color: white;
  margin: 20px;
  padding: 30px;
  border-radius: 3rem;
}

.exercise-card:hover {
  color: $bawapink;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  //   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  //   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
